


<div id="BattleShips">

    <h1 class="text-center">BattleShips Game</h1>


    <div class="bfBtns">
        <a class="btn btn-primary " asp-controller="Home" asp-action="BattleFieldSetup">Single</a>
        <a class="btn btn-danger " asp-controller="Multi" asp-action="BattleFieldSetupMulti">MultiPlayer</a>

    </div>

</div>

